body{
    background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-blue-background-with-white-contour-school-supplies-vector_288990-1275.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    min-height: 99vh;
    background-position: center;
}
