@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll bar gizli */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  padding-right: 5px;
}

/* hover ile göster */
.scrollbar-hidden:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hidden:hover::-webkit-scrollbar-track {
  background: #ffffff;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  background-color: #60a5fa;
  border-radius: 3px;
  border: 1px solid transparent;
}

.scrollbar-hidden:hover {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #ffffff;
}
